<%= link_to(" < Previous Post ", @post.previous, class: "btn btn-default") if @post.previous %>
<%= link_to("Next Post >", @post.next, class: "btn btn-default pull-right") if @post.next %>
<p class="text-center">
  <strong>Title:</strong>
  <%= @post.title %>
</p>
<div class="text-center">
<%= image_tag @post.image.url(:large), class: "text-center" %>
</div>

<div class="text-center">
<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Home', posts_path %>
</div>
